{% extends 'base.html.twig' %}

{% block title %}{{ app.request.attributes.get('_route') == 'app_blogs_edit' ? 'Modifier le Blog' : 'Créer un Nouveau Blog' }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <!-- En-tête du formulaire -->
        <h1 class="text-center mb-4">{{ app.request.attributes.get('_route') == 'app_blogs_edit' ? 'Modifier le Blog' : 'Créer un Nouveau Blog' }}</h1>

        <!-- Conteneur du formulaire -->
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                {{ form_start(form, {'attr': {'class': 'form'}}) }}
                
                <!-- Champs du formulaire -->
                <div class="mb-4">
                    {% for field in form %}
                        {% if field.vars.name != '_token' %} <!-- Exclure le champ _token -->
                            <div class="mb-3">
                                {{ form_label(field, null, {'attr': {'class': 'form-label'}}) }}
                                {{ form_widget(field, {'attr': {'class': 'form-control form-control-lg'}}) }}
                                {{ form_errors(field) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <!-- Bouton de soumission -->
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">{{ button_label|default('Enregistrer') }}</button>
                </div>

                <!-- Bouton Retour à la Liste -->
                <div class="text-center mt-3 mb-5">
                    <a href="{{ path('app_course_index') }}" class="btn btn-secondary btn-lg">Retour à la Liste</a>
                </div>
                
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    
    {% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
    {% endblock %}
{% endblock %}
