{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('../assets/styles/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('../assets/styles/courses.css') }}">
{% endblock %}

{% block title %}Edit Course{% endblock %}


{% block body %}
    <body>

    <section class="courses-header">
			<nav>
				<a href="{{ path('app_home') }}">
					<img src="{{ asset('../assets/img/logo.png') }}" alt="Logo">
				</a>
				<div class="nav-links" id="navLinks">
					<i class="bi bi-x" onclick="hideMenu()"></i>
					<ul>
						<li>
							<a href="{{ path('app_home') }}">HOME</a>
						</li>
						<li>
							<a href="{{ path('app_apropos') }}">ABOUT</a>
						</li>
						<li>
							<a href="{{ path('app_course_index') }}">COURSE</a>
						</li>
						<li>
							<a href="{{ path('app_blogs_index') }}">BLOG</a>
						</li>
						<li>
							<a href="{{ path('app_contact') }}">CONTACT</a>
						</li>

						<li class="">

							<div class="" aria-labelledby="">
								{% if app.user %}
									<a class="" href="{{ path('app_logout') }}">LOGOUT</a>
								{% else %}
									<a class="" href="{{ path('app_login') }}">ESPACE</a>
								{% endif %}
							</div>
						</li>
					</ul>
				</div>
				<i class="bi bi-list" onclick="showMenu()"></i>
			</nav>
    </section>


        {{ include('course/_form.html.twig', {'button_label': 'Update'}) }}

         <footer class="footer mt-5">
        <div class="footer-container">
            <div class="footer-row">
                <!-- Footer Column 1 -->
                <div class="footer-col">
                    <h4>DHN Studies</h4>
                    <ul>
                        <li><a href="{{ path('app_contact') }}">Contact Us</a></li>
                        <li><a href="{{ path('app_apropos') }}">About Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Affiliate Program</a></li>
                    </ul>
                </div>
                <!-- Footer Column 2 -->
                <div class="footer-col">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">Payment Options</a></li>
                    </ul>
                </div>
                <!-- Footer Column 3 -->
                <div class="footer-col">
                    <h4>Online Shop</h4>
                    <ul>
                        <li><a href="#">Watches</a></li>
                        <li><a href="#">Bags</a></li>
                        <li><a href="#">Shoes</a></li>
                        <li><a href="#">Dresses</a></li>
                    </ul>
                </div>
                <!-- Footer Column 4 -->
                <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </body>

    

  

    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
