{% extends 'base.html.twig' %}

{% block title %}Nouveau Cours
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('../assets/styles/styles.css') }}">
	<link rel="stylesheet" href="{{ asset('../assets/styles/courses.css') }}">
{% endblock %}

{% block body %}
	<!-- Section d'en-tête -->

	<section class="courses-header">
		<nav>
			<!-- Logo cliquable qui redirige vers la page d'accueil -->
			<a href="{{ path('app_home') }}">
				<img src="{{ asset('../assets/img/Web Dev-logo.png') }}" alt="Logo">
			</a>
			<div class="nav-links" id="navLinks">
				<!-- Icône pour fermer le menu -->
				<i class="bi bi-x" onclick="hideMenu()"></i>
				<ul>
					<!-- Liens de navigation -->
					<li>
						<a href="{{ path('app_home') }}">ACCUEIL</a>
					</li>
					<li>
						<a href="{{ path('app_apropos') }}">À PROPOS</a>
					</li>
					<li>
						<a href="{{ path('app_course_index') }}">COURS</a>
					</li>
					<li>
						<a href="{{ path('app_blogs_index') }}">BLOG</a>
					</li>
					<li>
						<a href="{{ path('app_contact') }}">CONTACT</a>
					</li>
					<li>
						<!-- Liens de connexion/déconnexion -->
						<div aria-labelledby="">
								{% if app.user %}
									{% if 'ROLE_ADMIN' in app.user.roles %}
										<a href="{{ path('app_admin_dashboard') }}">ESPACE ADMIN
										</a>
									{% elseif 'ROLE_USER' in app.user.roles %}
										<a href="{{ path('app_admin_user_show', { 'username': app.user.username }) }}">ESPACE ETUDIANT</a>
									{% endif %}
								{% else %}
									<a href="{{ path('app_login') }}">CONNEXION</a>
								{% endif %}
							</div>
					</li>
				</ul>
			</div>
			<!-- Icône pour ouvrir le menu -->
			<i class="bi bi-list" onclick="showMenu()"></i>
		</nav>
	</section>

	<div class="container mt-5">
		<!-- Inclure le formulaire pour créer un nouveau cours -->
		{{ include('course/_form.html.twig', {'button_label': 'Créer'}) }}

		<!-- Lien pour revenir à la liste des cours -->
	</div>

	<!-- Pied de page -->
	<footer class="footer">
		<div class="footer-container">
			<div class="footer-row">
				<!-- Colonnes du pied de page avec informations et liens -->
				<div class="footer-col">
					<h4>WeB DeV</h4>
					<ul>
						<li><a href="{{ path('app_home') }}">Accueil</a></li>
						<li><a href="{{ path('app_blogs_index') }}">Notre Blog</a></li>
						<li><a href="{{ path('app_contact') }}">Contactez-nous</a></li>
						<li><a href="{{ path('app_apropos') }}">À propos de nous</a></li>
						<li><a href="{{ path('app_privacy') }}">Politique de confidentialité</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4>Obtenir de l'aide</h4>
					<ul>
						<li><a href="{{ path('app_faq') }}">FAQ</a></li>
						<li><a href="{{ path('app_certification') }}">Certification</a></li>
						<li><a href="{{ path('app_financements') }}">Financements</a></li>
						<li><a href="{{ path('app_evenements') }}">Événements</a></li>
						<li><a href="{{ path('app_modaliteacces') }}">Modalités d'accès</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4>Adresse</h4>
					<ul>
						<li><a href="#">7 Avenue du Général Patton</a></li>
						<li><a href="#">77000</a></li>
						<li><a href="#">Melun</a></li>
						<li><a href="tel:+33783650880">Tel: 07 83 65 08 80</a></li>
						<li><a href="{{ path('app_contact') }}">Contact Us <i class="fa-regular fa-envelope"></i></a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4>Suivez-nous</h4>
					<div class="social-links">
						<a href="#"><i class="fab fa-facebook-f"></i></a>
						<a href="#"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
						<a href="#"><i class="fab fa-linkedin-in"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
{% endblock %}
