{% extends 'base.html.twig' %}

{% block title %}school{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{ asset ('../assets/styles/styles.css') }}">
	<link rel="stylesheet" href="{{ asset ('../assets/styles/courses.css') }}">

{% endblock %}

{% block body %}

<body>
    <section class="courses-header">
        <nav>
            <a href="index.html"><img src="img/logo.png" alt="" /></a>
            <div class="nav-links" id="navLinks">
                <i class="bi bi-x" onclick="hideMenu()"></i>
                <ul>
                        <li><a href="{{path('app_home')}}">HOME</a></li>
						<li><a href="{{path('app_about')}}">ABOUT</a></li>
						<li><a href="{{path('app_courses')}}">COURSE</a></li>
						<li><a href="{{path('app_blog')}}">BLOG</a></li>
						<li><a href="{{path('app_contact')}}">CONTACT</a></li>
						<li><a href="{{path('app_espace')}}">LOGIN</a></li>
                </ul>
            </div>
            <i class="bi bi-list" onclick="showMenu()"></i>
        </nav>

       
    </section>

    <!-- ------------------------------------course------------------------------ -->
    <section>
        

<ul class="cards">
    <li class="cards__item">
      <div class="card">
        <div class="card_image">
            <img src="/img/certificate.jpg" alt="">
        </div>
        <div class="card__content">
          <div class="card__title">Flex</div>
          <p class="card__text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </p>
          <button class="btn btn--block card__btn">Button</button>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card_image">
            <img src="/img/certificate.jpg" alt="">
        </div>
        <div class="card__content">
          <div class="card__title">Flex Grow</div>
          <p class="card__text">This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up.</p>
          <button class="btn btn--block card__btn">Button</button>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="card">
        <div class="card_image">
            <img src="/img/certificate.jpg" alt="">
        </div>
        <div class="card__content">
          <div class="card__title">Flex Shrink</div>
          <p class="card__text">This defines the ability for a flex item to shrink if necessary. Negative numbers are invalid.</p>
          <button class="btn btn--block card__btn">Button</button>
        </div>
      </div>
    </li>
    
  </ul>
    </section>

    <!-- ------------------------------------footer-- -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-col">
                <h4>DHN Studies</h4>
                <ul>
                    <li><a href="{{path('app_contact')}}">Contact us</a></li>
                    <li><a href="{{path('app_about')}}">about us</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">watch</a></li>
                    <li><a href="#">bag</a></li>
                    <li><a href="#">shoes</a></li>
                    <li><a href="#">dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
    <!-------------------   Javascript for Toggle Menu ----------------------->
   



</body>


{% endblock %}

