{% extends 'base.html.twig' %}

{% block title %}School
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset ('../assets/styles/styles.css') }}">
	<link rel="stylesheet" href="{{ asset ('../assets/styles/courses.css') }}">

{% endblock %}

{% block body %}
	<body>
		<section class="header">
			<nav>
				<a href="{{ path('app_home') }}">
					<img src="{{ asset('../assets/img/logo.png') }}" alt="Logo">
				</a>
				<div class="nav-links" id="navLinks">
					<i class="bi bi-x" onclick="hideMenu()"></i>
					<ul>
						<li>
							<a href="{{ path('app_home') }}">HOME</a>
						</li>
						<li>
							<a href="{{ path('app_apropos') }}">ABOUT</a>
						</li>
						<li>
							<a href="{{ path('app_course_index') }}">COURSE</a>
						</li>
						<li>
							<a href="{{ path('app_blogs_index') }}">BLOG</a>
						</li>
						<li>
							<a href="{{ path('app_contact') }}">CONTACT</a>
						</li>

						<li class="">

							<div class="" aria-labelledby="">
								{% if app.user %}
									<a class="" href="{{ path('app_logout') }}">LOGOUT</a>
								{% else %}
									<a class="" href="{{ path('app_login') }}">ESPACE</a>
								{% endif %}
							</div>
						</li>
					</ul>
				</div>
				<i class="bi bi-list" onclick="showMenu()"></i>
			</nav>

			<div class="text-box">
				<h1>Welcome to FHat University</h1>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa aliquam illum
					<br>rerum ipsum eos beatae alias necessitatibus..
				</p>
				<a href="" class="hero-btn">Visit Us To Know More</a>
			</div>
		</section>

		<!-- ------------------------------------course------------------------------ -->

		<section class="course">
			<h2>Courses We Offer</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo rerum.</p>
			<div class="roow">
				<div class="course-col">
					<h3>Intermediate</h3>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, necessitatibus?</p>
				</div>
				<div class="course-col">
					<h3>Degree</h3>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, necessitatibus?</p>
				</div>
				<div class="course-col">
					<h3>Post Graduation</h3>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, necessitatibus?</p>
				</div>
			</div>
		</section>

		<!-- ------------------------------------Campus------------------------------ -->

		<section class="campus">
			<h1>Our Global Campus</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo rerum.</p>
			<div class="row">
				<div class="campus-col">
					<img src="{{ asset('../assets/img/Tour_eff.jpg') }}" alt="Paris">
					<div class="layer">
						<h3>PARIS</h3>
					</div>
				</div>
				<div class="campus-col">
					<img src="{{ asset('../assets/img/lyon_eff.jpg') }}" alt="Lyon">
					<div class="layer">
						<h3>LYON</h3>
					</div>
				</div>
				<div class="campus-col">
					<img src="{{ asset('../assets/img/lille_eff.jpg') }}" alt="Lille">
					<div class="layer">
						<h3>LILLE</h3>
					</div>
				</div>
			</div>
		</section>

		<!-- ------------------------------------Facilities------------------------------ -->

		<section class="facilities">
			<h1>Our Facilities</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo rerum.</p>
			<div class="row">
				<div class="facilities-col">
					<img src="{{ asset('../assets/img/library.png') }}" alt="Library">
					<h3>World Class Library</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo rerum.</p>
				</div>
				<div class="facilities-col">
					<img src="{{ asset('../assets/img/basketball.png') }}" alt="Basketball">
					<h3>Largest Playground</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo rerum.</p>
				</div>
				<div class="facilities-col">
					<img src="{{ asset('../assets/img/cafeteria.png') }}" alt="Cafeteria">
					<h3>Tasty and Healthy Food</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo rerum.</p>
				</div>
			</div>
		</section>

		<!-- ------------------------------------Testimonials------------------------------ -->

		<section class="testimonials">
			<h1>What Our Students Say</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo rerum.</p>
			<div class="test-row">
				<div class="testimonial-col">
					<img src="{{ asset('../assets/img/user1.jpg') }}" alt="Christine Berkley">
					<div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo rerum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo rerum.</p>
						<h3>Christine Berkley</h3>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
				</div>
				<div class="testimonial-col">
					<img src="{{ asset('../assets/img/user2.jpg') }}" alt="David Harris">
					<div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo rerum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo rerum.</p>
						<h3>David Harris</h3>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-half-stroke"></i>
					</div>
				</div>
				<div class="testimonial-col">
					<img src="{{ asset('../assets/img/user2.jpg') }}" alt="David Harris">
					<div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo rerum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo rerum.</p>
						<h3>David Harris</h3>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-half-stroke"></i>
					</div>
				</div>
			</div>
		</section>

		<!-- ------------------------------------footer-- -->

		<footer class="footer">
			<div class="footer-container">
				<div class="footer-row">
					<div class="footer-col">
						<h4>DHN Studies</h4>
						<ul>
							<li><a href="{{ path('app_contact') }}">Contact us</a></li>
							<li><a href="{{ path('app_apropos') }}">About us</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Affiliate Program</a></li>
						</ul>
					</div>
					<div class="footer-col">
						<h4>Get Help</h4>
						<ul>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Shipping</a></li>
							<li><a href="#">Returns</a></li>
							<li><a href="#">Order Status</a></li>
							<li><a href="#">Payment Options</a></li>
						</ul>
					</div>
					<div class="footer-col">
						<h4>Online Shop</h4>
						<ul>
							<li><a href="#">Watch</a></li>
							<li><a href="#">Bag</a></li>
							<li><a href="#">Shoes</a></li>
							<li><a href="#">Dress</a></li>
						</ul>
					</div>
					<div class="footer-col">
						<h4>Follow Us</h4>
						<div class="social-links">
							<a href="#">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="#">
								<i class="fab fa-twitter"></i>
							</a>
							<a href="#">
								<i class="fab fa-instagram"></i>
							</a>
							<a href="#">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</body>
{% endblock %}

{% block javascripts %}{% endblock %}
