{% extends 'base.html.twig' %}

{% block title %}Edit Blogs{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{ asset ('../assets/styles/styles.css') }}">
	<link rel="stylesheet" href="{{ asset ('../assets/styles/courses.css') }}">

{% endblock %}

{% block body %}

<body>

<section class="courses-header">
        <nav>
            <a href="index.html"><img src="img/logo.png" alt="" /></a>
            <div class="nav-links" id="navLinks">
                <i class="bi bi-x" onclick="hideMenu()"></i>
                <ul>
                        <li><a href="{{path('app_home')}}">HOME</a></li>
						<li><a href="{{path('app_about')}}">ABOUT</a></li>
						<li><a href="{{path('app_courses')}}">COURSE</a></li>
						<li><a href="{{path('app_blogs_index')}}">BLOG</a></li>
						<li><a href="{{path('app_contact')}}">CONTACT</a></li>
						<li><a href="{{path('app_espace')}}">LOGIN</a></li>
                </ul>
            </div>
            <i class="bi bi-list" onclick="showMenu()"></i>
        </nav>

       
    </section>

        {{ include('blogs/_form.html.twig', {'button_label': 'Update'}) }}

    

   

    <div class="text-center mt-4">
            {{ include('blogs/_delete_form.html.twig') }}
        </div>

</body>

   


{% endblock %}

{% block javascripts %}
 
    <script src="{{ asset('js/images.js') }}"></script>   

{% endblock %}