{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('../assets/styles/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('../assets/styles/courses.css') }}">
    <link rel="stylesheet" href="{{ asset('../assets/styles/dashboards.css') }}">
{% endblock %}

{% block body %}
    <body>
        <section class="courses-header">
            <nav>
                <!-- Logo cliquable qui redirige vers la page d'accueil -->
                <a href="{{ path('app_home') }}">
                    <img src="{{ asset('../assets/img/Web Dev-logo.png') }}" alt="Logo">
                </a>
                <div class="nav-links" id="navLinks">
                    <!-- Icône pour fermer le menu -->
                    <i class="bi bi-x" onclick="hideMenu()"></i>
                    <ul>
                        <!-- Liens de navigation -->
                        <li>
                            <a href="{{ path('app_home') }}">ACCUEIL</a>
                        </li>
                        <li>
                            <a href="{{ path('app_apropos') }}">À PROPOS</a>
                        </li>
                        <li>
                            <a href="{{ path('app_course_index') }}">COURS</a>
                        </li>
                        <li>
                            <a href="{{ path('app_blogs_index') }}">BLOG</a>
                        </li>
                        <li>
                            <a href="{{ path('app_contact') }}">CONTACT</a>
                        </li>
                        <li>
                            <!-- Liens de connexion/déconnexion -->
                            <div aria-labelledby="">
                                {% if app.user %}
                                    {% if 'ROLE_ADMIN' in app.user.roles %}
                                        <a href="{{ path('app_admin_dashboard') }}">ESPACE ADMIN</a>
                                    {% elseif 'ROLE_USER' in app.user.roles %}
                                        <a href="{{ path('app_admin_user_show', { 'id': app.user.id }) }}">ESPACE ÉTUDIANT</a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ path('app_login') }}">CONNEXION</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Icône pour ouvrir le menu -->
                <i class="bi bi-list" onclick="showMenu()"></i>
            </nav>
        </section>

        <div class="dashboard mt-4 mb-5">
            <aside class="sidebar">
                <h2>Panneau d'administration</h2>
                <nav>
                    <ul>
                        <li><a href="{{ path('app_admin_dashboard') }}">Tableau de bord</a></li>

                        <li><a href="{{ path('app_course_index') }}">Gérer les cours</a></li>
						<li><a href="{{ path('app_blogs_index') }}">Gérer les Blogs</a></li>
                        <li><a href="{{ path('app_non_admin_user_index') }}">Gérer les étudiants</a></li>
                        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    </ul>
                </nav>
            </aside>

            <main class="main-content">
                <header>
                    <img src="{{ app.user.photo }}" alt="{{ app.user.username }}" class="img-fluid rounded-circle" style="height: 150px; width: 150px; object-fit: cover; border: 1px solid #ddd;">
                    <h1>Bienvenue, Admin {{ app.user.firstName }}</h1>
                    <p>Gérez le système, les étudiants et les cours efficacement.</p>
                </header>

                <section class="cards">
                    <div class="card">
                        <h3>Étudiants au total</h3>
                        <p>{{ total_etudiants }}</p>
                        <a href="{{ path('app_non_admin_user_index') }}">voir tout</a>
                    </div>

                    <div class="card">
                        <h3>Administrateurs au total</h3>
                        <p>{{ total_admin }}</p>
                        <a href="{{ path('app_all_admin_user_index') }}">voir tout</a>
                    </div>

                    <div class="card">
                        <h3>Formations actifs</h3>
                        <p>{{ total_courses }}</p>
                        <a href="{{ path('app_admin_user_course') }}">voir tout</a>
                        <a href="{{ path('admin_attribute_courses', { 'id': app.user.id }) }}">Attribuer des Formation</a>
                    </div>
                </section>

                <section>
                    <div class="info card shadow-sm">
                        <h3>Informations d'urgence</h3>
                        <div class="big-div">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <th>Pompiers (Incendie / Urgences médicales)</th>
                                        <td>18</td>
                                    </tr>
                                    <tr>
                                        <th>Police Secours</th>
                                        <td>17</td>
                                    </tr>
                                    <tr>
                                        <th>Urgences en mer</th>
                                        <td>196</td>
                                    </tr>
                                    <tr>
                                        <th>Urgences pour les enfants</th>
                                        <td>112</td>
                                    </tr>
                                    <tr>
                                        <th>Numéro d'urgence Européen</th>
                                        <td>112</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </main>
        </div>

        <!-- Footer -->
        <footer class="footer">
            <div class="footer-container">
                <div class="footer-row">
                    <!-- Colonnes du pied de page avec informations et liens -->
                    <div class="footer-col">
                        <h4>WeB DeV</h4>
                        <ul>
                            <li><a href="{{ path('app_home') }}">Accueil</a></li>
                            <li><a href="{{ path('app_blogs_index') }}">Notre Blog</a></li>
                            <li><a href="{{ path('app_contact') }}">Contactez-nous</a></li>
                            <li><a href="{{ path('app_apropos') }}">À propos de nous</a></li>
                            <li><a href="{{ path('app_privacy') }}">Politique de confidentialité</a></li>
                        </ul>
                    </div>

                    <div class="footer-col">
                        <h4>Obtenir de l'aide</h4>
                        <ul>
                            <li><a href="{{ path('app_faq') }}">FAQ</a></li>
                            <li><a href="{{ path('app_certification') }}">Certification</a></li>
                            <li><a href="{{ path('app_financements') }}">Financements</a></li>
                            <li><a href="{{ path('app_evenements') }}">Événements</a></li>
                            <li><a href="{{ path('app_modaliteacces') }}">Modalités d'accès</a></li>
                        </ul>
                    </div>

                    <div class="footer-col">
                        <h4>Adresse</h4>
                        <ul>
                            <li><a href="">7 Avenue du Général Patton</a></li>
                            <li><a href="">77000</a></li>
                            <li><a href="">Melun</a></li>
                            <li><a href="tel:+33783650880">Tél: 07 83 65 08 80</a></li>
                            <li><a href="{{ path('app_contact') }}">Contactez-nous <i class="fa-regular fa-envelope"></i></a></li>
                        </ul>
                    </div>

                    <div class="footer-col">
                        <h4>Suivez-nous</h4>
                        <div class="social-links">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
{% endblock %}
