{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('../assets/styles/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('../assets/styles/courses.css') }}">
    <link rel="stylesheet" href="{{ asset('../assets/styles/dashboards.css') }}">
{% endblock %}

{% block body %}
    <body>
        <section class="courses-header">
            <nav>
                <!-- Logo cliquable qui redirige vers la page d'accueil -->
                <a href="{{ path('app_home') }}">
                    <img src="{{ asset('../assets/img/Web Dev-logo.png') }}" alt="Logo">
                </a>
                <div class="nav-links" id="navLinks">
                    <!-- Icône pour fermer le menu -->
                    <i class="bi bi-x" onclick="hideMenu()"></i>
                    <ul>
                        <!-- Liens de navigation -->
                        <li><a href="{{ path('app_home') }}">ACCUEIL</a></li>
                        <li><a href="{{ path('app_apropos') }}">À PROPOS</a></li>
                        <li><a href="{{ path('app_course_index') }}">COURS</a></li>
                        <li><a href="{{ path('app_blogs_index') }}">BLOG</a></li>
                        <li><a href="{{ path('app_contact') }}">CONTACT</a></li>
                        <li>
                            <div aria-labelledby="">
								{% if app.user %}
									{% if 'ROLE_ADMIN' in app.user.roles %}
										<a href="{{ path('app_admin_dashboard') }}">ESPACE ADMIN
										</a>
									{% elseif 'ROLE_USER' in app.user.roles %}
										<a href="{{ path('app_admin_user_show', { 'username': app.user.username }) }}">ESPACE ETUDIANT</a>
									{% endif %}
								{% else %}
									<a href="{{ path('app_login') }}">CONNEXION</a>
								{% endif %}
							</div>
                        </li>
                    </ul>
                </div>
                <!-- Icône pour ouvrir le menu -->
                <i class="bi bi-list" onclick="showMenu()"></i>
            </nav>
        </section>
        <div class="dashboard mt-4 mb-5">
            <aside class="sidebar">
                <h2>Portail Étudiant</h2>
                <nav>
                    <ul>
                        <li><a href="#">Tableau de bord</a></li>
                        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    </ul>
                </nav>
            </aside>
            <main class="main-content">
                <header>
                    <div class="card-header">
                        <img src="{{ app.user.photo }}" alt="{{ app.user.username }}" class="img-fluid rounded-circle" style="height: 150px; width: 150px; object-fit: cover; border: 1px solid #ddd;">
                        <h1>{{ app.user.lastName ~ ' ' ~ app.user.firstName }}</h1>
                    </div>
                </header>
                <section class="cards">
                    <div class="card">
                        <h3>Formation Encours</h3>
                        <h1>{{ app.user.courses | length }}</h1>
                        {% if app.user.courses is not empty %}
                            <ul>
                                {% for course in app.user.courses %}
                                    <li>{{ course.title }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>Vous n'êtes inscrit à aucun cours de formation.</p>
                        {% endif %}
                    </div>

                    <div class="card">
                        <h3>Contactez Votre Centre</h3>
                        <p>Du lundi au vendredi</p>
                        <p>De 9h00 à 18h00</p>
                        <a href="{{ path('app_contact') }}">Cliquez ici</a>
                    </div>

                    <div class="card">
                        <h3>Date du jour</h3>
                        <p>{{ "now"|date("l, d F Y H:i") }}</p>
                    </div>
                </section>

                <!-- Grand div séparé pour les informations de l'utilisateur (maintenant déplacé en dessous des autres cartes) -->
                <div class="info card shadow-sm">
                    <h3>Informations de l'utilisateur</h3>
                    <div class="big-div">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ app.user.email }}</td>
                                </tr>
                                <tr>
                                    <th>Nom d'utilisateur</th>
                                    <td>{{ app.user.username }}</td>
                                </tr>
                                <tr>
                                    <th>Prénom</th>
                                    <td>{{ app.user.firstName }}</td>
                                </tr>
                                <tr>
                                    <th>Nom de famille</th>
                                    <td>{{ app.user.lastName }}</td>
                                </tr>
                                <tr>
                                    <th>Téléphone</th>
                                    <td>{{ app.user.phone }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="footer-container">
                <div class="footer-row">
                    <div class="footer-col">
                        <h4>WeB DeV</h4>
                        <ul>
                            <li><a href="{{ path('app_home') }}">Accueil</a></li>
                            <li><a href="{{ path('app_blogs_index') }}">Notre Blog</a></li>
                            <li><a href="{{ path('app_contact') }}">Contactez-nous</a></li>
                            <li><a href="{{ path('app_apropos') }}">À propos de nous</a></li>
                            <li><a href="{{ path('app_privacy') }}">Politique de confidentialité</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Obtenir de l'aide</h4>
                        <ul>
                            <li><a href="{{ path('app_faq') }}">FAQ</a></li>
                            <li><a href="{{ path('app_certification') }}">Certification</a></li>
                            <li><a href="{{ path('app_financements') }}">Financements</a></li>
                            <li><a href="{{ path('app_evenements') }}">Événements</a></li>
                            <li><a href="{{ path('app_modaliteacces') }}">Modalités d'accès</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Adresse</h4>
                        <ul>
                            <li><a href="">7 Avenue du Général Patton</a></li>
                            <li><a href="">77000</a></li>
                            <li><a href="">Melun</a></li>
                            <li><a href="tel:+33783650880">Tel: 07 83 65 08 80</a></li>
                            <li><a href="{{ path('app_contact') }}">Nous contacter<i class="fa-regular fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Suivez-nous</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
{% endblock %}
